<div ng-if="showForm">
    <h3>Register Here!</h3>
    <form action="">

        <div class="form-group">
            <label>Name</label>
            <p ng-bind="user.name"></p>
            <!-- <input class="form-control" ng-model="user.name"></input> -->
        </div>

        <div class="form-group">
            <label>Email ID</label>
            <input class="form-control" ng-model="user.email" required="required"></input>
        </div>

        <div class="form-group">
            <label>Mobile No.</label>
            <input class="form-control" ng-model="user.mobile" required="required"></input>
        </div>

        <div class="form-group">
            <label>City</label>
            <input class="form-control" ng-model="user.city"></input>
        </div>

        <div class="form-group">
            <label>College</label>
            <input class="form-control" ng-model="user.college"></input>
        </div>

        <div class="form-group">
            <label>Year</label>
            <input class="form-control" ng-model="user.year"></input>
        </div>

		<button ng-click="addUser()" class="btn btn-primary">
			Register!
		</button>

    </form>

</div>


<div ng-if="registered">
    Hi, {{user.name}}, your MI ID is {{user.mi_number}}.
</div>


<button ng-if="!connected" class="btn btn-primary" ng-click="login()">
    Login with Facebook!
</button>
